github "SwiftKickMobile/SwiftMessages"
github "OneSignal/OneSignal-iOS-SDK"
github "Juanpe/SkeletonView"
github "airbnb/lottie-ios"
github "hackiftekhar/IQKeyboardManager"
github "AliSoftware/OHHTTPStubs"
github "kif-framework/KIF"
github "onevcat/Kingfisher"
github "Alamofire/Alamofire"